<%= render partial: "result", locals: {members: @members, results: @results, query: @query} %>

<h5>ユーザー検索</h5>
<%= search_form_for @q, url: staffs_members_path, class: 'form-horizontal' do |f| %>
  <div class="form-group">
    <%= f.label 'ユーザーID' %>
    <%= f.search_field :id_eq, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'ユーザー名' %>
    <%= f.search_field :nickname_cont, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'email' %>
    <%= f.search_field :email_cont, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit '検索' %>
  </div>
<% end %>
<br>

<%= paginate @members %>
<table class="table table-striped">
    <tr>
      <th><%= sort_link(@q, :id, "id", hide_indicator: true) %></th>
      <th><%= sort_link(@q, :nickname, "nickname", hide_indicator: true) %></th>
      <th><%= sort_link(@q, :email, "email", hide_indicator: true) %></th>
    </tr>

    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.nickname %></td>
        <td><%= member.email %></td>
      </tr>
    <% end %>
</table>
<br>
<%= paginate @members %>

<%= link_to 'member一覧', staffs_members_path %>


<%# = form_with model: @task, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', id: 'task_name'
  .form-group
    = f.label :description
    = f.text_area :description, rows: 5, class: 'form-control', id: 'task_description' %>