<div class="alert alert-primary" role="alert">
  <h1>Welcome! <%= Settings.service.name %></h1>
  <ul>
    <li><%= ENV['HOGE'] %></li>
    <li><%= Settings.service.test_text %></li>
    <li><%= link_to "ログイン", new_staff_session_path %></li>
    <li><%= link_to "ログアウト", destroy_staff_session_path, method: :delete %></li>
  </ul>
</div>
