<div class="alert alert-primary" role="alert">
  <h1>Welcome! <%= Settings.service.name %></h1>
  <ul>
    <% if staff_signed_in? %>
      <li class="text-success">ログイン中(staff)<%= current_staff.email %></li>
    <% elsif member_signed_in? %>
      <li class="text-success">ログイン中(member)<%= current_member.email %></li>
    <% else %>
      <li class="text-success">Not_login</li>
    <% end %>
    <li><%= ENV['HOGE'] %></li>
    <li><%= Settings.service.test_text %></li>
    <li><%= link_to "スタッフログイン", new_staff_session_path %></li>
    <li><%= link_to "ログアウト", destroy_staff_session_path, method: :delete %></li>
    <li><%= link_to "staffs/dashboards#show", staffs_dashboards_path %></li>
    <li><%= link_to "メンバーログイン", new_member_session_path %></li>
    <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></li>
    <li><%= link_to "members/dashboards#show", members_dashboards_path %></li>
  </ul>
</div>

