members/profiles/edit.html.erb
<h1>
<%= @member = current_member.email %><br>
<%= @member = current_member.nickname %>
</h1>
でログイン中
<%= form_with(model: @members, local: true) do |f| %>
<div class="form-group">
<%= f.label :nickname, 'ニックネーム' %>
<%= f.text_field :nickname, class: 'form-control' %>
</div>
 
<div class="form-group">
<%= f.label :email, 'メールアドレス' %>
<%= f.email_field :email, class: 'form-control' %>
</div>
 

<div class="accbox">
  <div class="accshow">
    <div class="form-group">
      新しいパスワード<br>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
 
    <div class="form-group">
      新しいパスワードを再入力<br>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="al-c"><%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %></div>
 <% end %>